#App{
    background-color:#00334E ;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: auto;
}

.Header{
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

