#dish-search{
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translate(-50%); 
}

#name{
    width: 200px;
    height: 25px;
    text-indent: 5px;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.dish-button{
    border: 0;
    color: white;
    background-color: rgba(252, 73, 100, 1);
    height: 30px;
    border-radius: 5px;
    margin-left: 10px; 
    outline: none;
    cursor: pointer;
} 

.dish-button:hover{
    background-color: rgba(250, 35, 67, 1);
}

