#dish-search{
    position: absolute;
    left: 50%;
    top: 105px;
    transform: translate(-50%); 
}

#name{
    width: 300px;
    height: 35px;
    text-indent: 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
    outline: none;
    padding-top: 4px; 
    color: gray;
}

#name::placeholder{
    font-size: 18px;
    text-indent: 15px;
}

.dish-button{
    padding-top: 4px; 
    font-size: 15px;
    border: 0;
    color: white;
    background-color: rgba(252, 73, 100, 1);
    height: 40px;
    border-radius: 5px;
    margin-left: 10px; 
    outline: none;
    cursor: pointer;
} 

.dish-button:hover{
    background-color: rgba(250, 35, 67, 1);
}

